<%- include('header') -%>

<section class="container">
    <h2 class="heading">Things I am grateful for:</h2>
    <button class="button new_entry_button">
        <a href="compose">Post new journal</a>
    </button>
    
    
   <% entries.forEach(entry=>{ %>
        <div class="card container">
            <div class="list">
                <p class="list-item">  • <%= entry.entry1 %></p>
                <p class="list-item">  • <%= entry.entry2 %></p>
                <p class="list-item">  • <%= entry.entry3 %></p>
                <p class="date"><%= entry.entry4 %></p>
            </div>
        </div>
    <% }) %>
</section>


<%- include('footer') -%>

